.main__container {
  display: grid;
  grid-template-columns: 70% 30%;
  gap: 30px;
  padding: 48px 0;
}

.actors__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  overflow: auto;
  padding-right: 30px;
  height: 70vh;
}

.actors__container::-webkit-scrollbar {
  width: 5px;
}

.actors__container::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 2px;
}

.actors__container::-webkit-scrollbar-track {
  background: #f6f1f1;
}

@media only screen and (max-width: 1200px) {
  .actors__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 900px) {
  .actors__container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .main__container {
    grid-template-columns: 1fr;
    padding: 25px 0;
  }
  .actors__container {
    gap: 15px;
  }
}
