.actor__card {
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px #d3d3d3;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.actor__card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 10px gray;
}

.actor__card img {
  width: 100px;
  object-fit: cover;
  height: 100px;
  border-radius: 50%;
}

.actor__card table {
  margin: 10px;
}

.actor__card table td {
  padding: 5px 0;
  color: #222;
}

.actor__card table tbody tr td:nth-child(1) {
  padding-right: 10px;
}

.actor__card .hire__me__button {
  border: 0;
  outline: 0;
  background-color: teal;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  font-family: inherit;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 2;
}

.actor__card .hire__me__button::before {
  content: "\f217";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(100%);
  transition: all 0.5s ease-in-out;
  background-color: darkslategray;
  height: 100%;
  overflow: hidden;
  border-radius: 5px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: fontawesome;
}

.actor__card .hire__me__button:hover::before {
  transform: translateY(0);
}

.actor__card .hire__me__button span {
  margin-right: 5px;
}

@media only screen and (max-width: 600px) {
  .actor__card {
    padding: 10px;
  }
}
