footer {
  background-color: white;
  height: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #222;
}

footer a {
  margin-left: 5px;
  color: tomato;
  transition: all 0.5s ease-in;
}

footer a:hover {
  color: green;
}
