/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

/* reset all tags default styles */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  background: #e6ecf0;
  color: #333;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
aside {
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  width: 1400px;
  margin: 0 auto;
}

@media only screen and (max-width: 1500px) {
  .container {
    width: 90%;
  }
}
